.header-wraper {
  position: relative;
  background-image: url('../../images/headerImage.png');
  background-size: cover;
  background-position: center;
  height: 100vh;
}
.main-info {
  z-index: 1;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  color: rgb(194, 194, 194);
  text-transform: uppercase;
}

@media (max-width: 768px) {
  h1 {
    font-size: 1.5rem;
  }
}

.btn-main-offer {
  border: 1px solid rgb(126, 1, 1);
  text-transform: uppercase;
  border-radius: 0;
  padding: 0.625rem 0.75rem 0.75rem 0.75rem;
  color: rgb(194, 194, 194);
  margin: 2rem;
}

.btn-main-offer:hover {
  text-decoration: none;
  background-color: rgb(150, 0, 0);
  transition: 0.2 ease-in-out;
}
