:root {
  --primary-white: #fff;
  --primary-orange: #f9ab00;
  --primary-dark: rgba(255, 255, 255, 0);
}

.logo {
  width: 3rem;
}

nav a.nav-link {
  letter-spacing: 0.0375rem;
  font-size: 0.8rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.nav-link {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  color: var(--primary-white) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.nav-link.active:focus {
  border-top: 0.1875rem solid var(--primary-orange);
}
.nav-link:hover {
  border-top: 0.1875rem solid var(--primary-orange);
}

.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}
