/*.logo {
  width: 3rem;
}*/
.navbar {
  z-index: 3;
  background-color: rgba(11, 10, 15, 0.575);
  width: 100% !important;
}
nav a.nav-link {
  letter-spacing: 0.0375rem;
  font-size: 0.8rem;
  cursor: pointer;
}

nav ul li {
  text-transform: uppercase;
}

.nav-link {
  margin-left: 0.75rem;
  margin-right: 0.75rem;
  color: rgb(194, 194, 194) !important;
  border-top: 0.1875rem solid var(--primary-dark);
}

.nav-link:focus {
  border-top: 0.1875rem solid rgb(126, 1, 1);
  color: var(--primary-white) !important;
}
.nav-link:hover {
  border-top: 0.1875rem solid rgb(150, 0, 0);
  color: var(--primary-white) !important;
}
/*
.navbar-brand {
  max-width: 17.25rem;
  padding: 0 !important;
  height: 6rem !important;
}
@media (max-width: 768px) {
  .navbar-brand {
    width: 7rem;
  }
}
*/
