.projects-container {
  background-image: linear-gradient(rgb(159, 159, 159), rgb(17, 17, 17));
  padding: 3rem 0;
}

.projects-image-box {
  position: relative;
}

.image-box-wrapper {
  padding-top: 1rem;
}
/*
.overflow {
  position: absolute;
  opacity: 0;
  background: var(--primary-black);
  width: 15rem;
  height: 8rem;
  top: 0;
  border: 1px solid var(--primary-red);
  cursor: pointer;
}

.projects-image-box:hover .overflow {
  opacity: 60%;
  transition: 0.3s ease-in-out;
}
*/
.projects-icon {
  position: absolute;
  opacity: 0;
  margin-left: -22rem;
  margin-top: 7rem;
  color: rgb(126, 1, 1);
  font-size: 1.5rem;
}
.legend {
  background: rgb(97, 97, 97) !important;
  bottom: 30px !important;
}
.legend:hover {
  opacity: 50% !important;
}

.dot.selected {
  background-color: rgb(126, 1, 1) !important;
}

.control-arrow {
  background: rgba(126, 1, 1, 0) !important;
}

.carousel .control-prev.control-arrow:before {
  border-right: 8px solid rgb(126, 1, 1) !important;
}

.carousel .control-next.control-arrow:before {
  border-left: 8px solid rgb(126, 1, 1) !important;
}

.popupbox-titleBar {
  background-color: rgb(168, 168, 168);
}

.popupbox-btn--close {
  color: black !important;
}

.popupbox-btn--close:hover {
  color: rgb(209, 6, 6) !important;
}

.popupbox-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(214, 214, 214);
}

.projects-image-box:hover .projects-icon {
  opacity: 70%;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.hyper-link {
  cursor: pointer;
  color: rgb(16, 22, 53);
}

.hyper-link:hover {
  color: rgb(209, 6, 6);
}

.projects-image-popupbox {
  padding: 0 0.5rem;
  width: 100%;
}
@media (max-height: 570px) {
  .popupbox-wrapper {
    height: 100;
  }
  .projects-image-popupbox {
    width: 50%;
  }
}

@media (max-height: 280px) {
  .popupbox-wrapper {
    height: 90%;
  }
  .projects-image-popupbox {
    width: 30%;
  }
}

.carousel-container {
  max-width: 700px;
}
