.footer {
  background: black;
  color: rgb(194, 192, 192);
  padding: 1rem;
}

.footer button {
  text-decoration: none;
  color: #585858;
}

.footer button:hover {
  text-decoration: none;
  color: var(--primary-orange);
  cursor: pointer;
}

.footer p {
  margin-bottom: 0;
}
