@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

:root {
  --primary-white: #ffffff;
  --primary-orange: #f9ab00;
  --primary-dark: rgb(52, 58, 6);
  --primary-red: #ef4035;
  --primary-hover-red: #f33501;
  --primary-light-grey: #f4f4f4;
  --primary-grey: #ccd1d9;
  --primary-dark-grey: #666666;
}

body {
  font-family: 'Roboto Condesed', sans-serif !important;
}
