.contacts {
  background: rgb(17, 17, 17);
  padding: 3rem 0;
}

.contacts h2 {
  color: white;
  padding: 1.3rem 0;
  text-transform: uppercase;
}

.contacts p {
  color: #6b6b6b;
  font-size: 1.2rem;
}

.contacts input,
.contacts textarea {
  width: 100%;
  box-sizing: border-box;
  background: none;
  resize: none;
  border: 0;
  border-bottom: 0.125rem solid #6b6b6b;
  border-radius: 0;
  color: #f5aa09;
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
  padding-left: 0 !important;
}

.contacts .container {
  padding: 4rem 0;
}

.contacts input:focus,
.contacts textarea:focus {
  background: transparent;
  color: #f5aa09;
  border-bottom: 0.125rem solid #6b6b6b;
}

.contacts textarea {
  height: 12.2rem !important;
}

.contact-btn {
  margin: 1rem 0 0 0;
  width: 100%;
  background: none;
}

.contact-btn:hover {
  background-color: #f78707;
}

.line {
  position: relative;
  top: -0.8rem;
  width: 0;
  height: 0.125rem;
  background: rgb(126, 1, 1);
  display: inline-block;
}

.line-position-correction {
  top: -0.737rem;
}

input:focus + .line,
textarea:focus + .line {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

input.form-control {
  margin: -0.3rem 0;
}

textarea.form-control {
  margin: -0.3rem 0;
}

.error-message {
  color: white;
  background: red;
  text-align: left;
}

.success-message {
  font-weight: 900;
  color: rgb(20, 197, 20);
}

@media (max-width: 768px) {
  .contacts {
    overflow-x: hidden;
  }

  .contacts .container {
    padding: 0 1rem;
  }

  .contacts p {
    padding: 0 0.4rem;
  }
}
