.image-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-img {
  width: 16rem;
  border-radius: 50%;
  padding: 0.3rem;
  border: 1px solid var(--primary-orange);
}

@media (max-width: 468px) {
  .profile-img {
    width: 10rem;
  }
}
